ul
{
    list-style: none;
}
.App
{
    height: 100vh;
}
.par
{
    display: flex;
    margin-left: 20px;
}
.list
{
    margin: 5px 10px;
    border: 1px solid black;
    border-radius: 3px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}
span
{
    font-size: 25px;
    margin: 0px 30px 0px 20px;
}
.bt
{
    margin-right: 10px;
}
.bt input 
{
    margin: 0px 10px;
}
.main 
{
    display: flex;
    justify-content: center;
    padding: 100px 0px;
}
.screen 
{
    padding: 20px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}
.in input
{
    width: 100%;
}
.input-box  
{   
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.result 
{   
    display: flex;
    justify-content: center;
}
.buttn
{
    display: flex;
    justify-content: center;
}